In [1]:
from tqdm import tqdm
import ast
from sklearn.feature_extraction.text import TfidfVectorizer
from scipy.sparse import csr_matrix, coo_matrix
import pickle as pkl
import csv
import pandas as pd
import numpy as np
import os
import random
import scipy.io as sio
import os
from collections import Counter, defaultdict, OrderedDict
import random
import numpy as np
import scipy.sparse as sp
import pandas as pd
import pickle as pkl
from sklearn.metrics import f1_score, auc, roc_auc_score, precision_recall_curve
import dgl
import pandas as pd

Using backend: pytorch

In [2]:
node_df = pd.read_csv("node.dat", sep='\t', header=None)
node_df

             0                                      1  2
0        59829  wowee_zowee:_sordid_sentinels_edition  2
1       160846                             youngstown  5
2        59830                                  altro  2
3        59831                                  crazy  2
4            0                             agnes_grey  0
...        ...                                    ... ..
180093  160844                            yves_congar  4
180094   40400   density_estimation_-_two-step_method  0
180095   40401                         7th_century_bc  0
180096  180097                 view_askew_productions  7
180097  160845                        ford_madox_ford  4

[180098 rows x 3 columns]

In [3]:
node_df[2].value_counts()

2    82351
0    40402
1    19427
4    17641
5     9368
7     7153
6     2731
3     1025
Name: 2, dtype: int64

In [4]:
node_2_type = dict()
node_id2index = dict()
node_id2name = dict()
idx = 0
for index, row in node_df.iterrows():
    node_id, node_name, node_type = int(row[0]), str(row[1]), int(row[2])
    node_2_type[node_id] = node_type
    node_id2index[node_id] = idx
    node_id2name[node_id] = node_name
    idx += 1

In [5]:
link_df = pd.read_csv("link.dat", sep='\t', header=None)
edges_df = link_df.loc[(link_df[0].isin(node_id2index.keys())) & (link_df[1].isin(node_id2index.keys()))]
edges_df

             0      1  2    3
0        75175  75175  8  1.0
1        80726  80726  8  1.0
2        66516  66516  8  1.0
3        74616  74616  8  1.0
4        60634  60634  8  1.0
...        ...    ... ..  ...
1057683  40397  34114  0  1.0
1057684  40397  35372  0  1.0
1057685  40397  39166  0  1.0
1057686  40398  33084  0  1.0
1057687  40399  23845  0  1.0

[1057688 rows x 4 columns]

In [6]:
total_nodes = max(node_id2index.values())+1
node_list = list()
for key, value in node_id2index.items():
    item_idx = value
    name = node_id2name[key]
    item_type = node_2_type[key]
    assert item_idx < total_nodes
    node_list.append((item_idx, name, item_type))
n_node_df = pd.DataFrame(node_list)
n_node_df.to_csv("node.dat.new", sep="\t", header=None, index=False)

In [7]:
n_edge_list = list()
idx = 0
for index, row in tqdm(edges_df.iterrows()):
    h_idx, t_idx, r_id, link_weight = node_id2index[int(row[0])], node_id2index[int(row[1])], int(row[2]), float(
                    row[3])
    assert h_idx < total_nodes
    assert t_idx < total_nodes
    n_edge_list.append((h_idx, t_idx, r_id, link_weight))
    idx += 1
n_edge_df = pd.DataFrame(n_edge_list)
n_edge_df.to_csv("link.dat.new", sep="\t", header=None, index=False)

1057688it [01:22, 12777.28it/s]

In [8]:
links = defaultdict(dict)
edges = defaultdict(list)
for items in tqdm(n_edge_list):
    h_idx, t_idx, r_id, link_weight = items[0], items[1], items[2], items[3]
    assert h_idx < total_nodes
    assert t_idx < total_nodes
    links[r_id][(h_idx, t_idx)] = link_weight
    edges[r_id].append((h_idx, t_idx, link_weight))

100%|██████████| 1057688/1057688 [00:01<00:00, 682637.58it/s]

In [9]:
def list_to_sp_mat(li, total_nodes):
    # (h, t, w)
    data = [x[2] for x in li]
    i = [x[0] for x in li]
    j = [x[1] for x in li]
    return sp.coo_matrix((data, (i, j)), shape=(total_nodes, total_nodes)).tocsr()

In [10]:
new_data = {}
for r_id in edges:
    new_data[r_id] = list_to_sp_mat(edges[r_id], total_nodes)
edges = new_data

In [11]:
target_link_type = 0
adj = edges[target_link_type]
g = dgl.DGLGraph(adj)
g = dgl.remove_self_loop(g)
g

/home/anasua/anaconda3/envs/HGT/lib/python3.7/site-packages/dgl/base.py:45: DGLWarning: Recommend creating graphs by `dgl.graph(data)` instead of `dgl.DGLGraph(data)`.
  return warnings.warn(message, category=category, stacklevel=1)

Graph(num_nodes=180098, num_edges=187638,
      ndata_schemes={}
      edata_schemes={})

In [12]:
u, v = g.edges()
eids = np.arange(g.number_of_edges())
eids = np.random.permutation(eids)
test_size = int(len(eids) * 0.1)
train_size = g.number_of_edges() - test_size
test_pos_u, test_pos_v = u[eids[:test_size]], v[eids[:test_size]]
train_pos_u, train_pos_v = u[eids[test_size:]], v[eids[test_size:]]

In [13]:
all_list = set()
for items in tqdm(n_edge_list):
    h_idx, t_idx, r_id, link_weight = items[0], items[1], items[2], items[3]
    if r_id == target_link_type:
        all_list.add((h_idx, t_idx, link_weight))

100%|██████████| 1057688/1057688 [00:00<00:00, 1257405.53it/s]

In [14]:
test_list = set()
for u, v in list(zip(test_pos_u, test_pos_v)):
    test_list.add((u.item(), v.item(), 1.0))
    test_list.add((v.item(), u.item(), 1.0))

In [15]:
train_list = all_list - test_list

In [16]:
df = pd.DataFrame(set(test_list))
df[3] = df[2]
df[2] = target_link_type
df

            0       1  2    3
0      123339   73933  0  1.0
1      171054  153195  0  1.0
2       53834  174081  0  1.0
3      145174    3805  0  1.0
4       35660  107325  0  1.0
...       ...     ... ..  ...
36361    3447   82138  0  1.0
36362   35789  148175  0  1.0
36363  118753   73842  0  1.0
36364    5494  158079  0  1.0
36365   52673  167258  0  1.0

[36366 rows x 4 columns]

In [17]:
df.to_csv("link.dat.test.new", sep="\t", header=None, index=False)
edges_df = pd.read_csv("link.dat.test.new", sep="\t", header=None)

In [18]:
final_train_df = set()
for item in train_list:
    final_train_df.add((item[0], item[1], target_link_type, item[2]))
for key, value in links.items():
    if key != target_link_type:
        for (h_id, t_id) in value:
            final_train_df.add((h_id, t_id, key, value[(h_id, t_id)]))